<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.engfirstapp.abeer.mysecretportfolio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/voice_note_icon_lanchur"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/voice_note_icon_lanchur_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".jetpackportfolio.AddNoteJP"></activity>
        <activity android:name=".TrashCanActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7003859395474560~7094150837" />

        <activity
            android:name=".plugins.PluginsGridActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".plugins.PositiveQuotesActivity"
            android:label="@string/positive"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".TestingActivity"
            android:label="Testing"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".plugins.CalenderActivity"
            android:label="@string/calender"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AddNoteActivity"
            android:label=""
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashAct"
            android:label="My notes"
            android:noHistory="false"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>