<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abeer.mysecretportfolio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/notes_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".plugins.PluginsGridActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".plugins.PositiveQuotesActivity"
            android:label="@string/positive"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".TestingActivity"
            android:label="Testing"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".plugins.CalenderActivity"
            android:label="@string/calender"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AddNoteActivity"
            android:label=""
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/portfolio"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".passwordAct"
            android:label="Login" />
        <activity
            android:name=".SignUpActivity"
            android:label="Register" />
        <activity
            android:name=".SplashAct"
            android:label="My notes"
            android:noHistory="false"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>